/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: inherit;
  color: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

#filters:not([hidden]) {
  margin: auto auto 48px auto;
  padding: 0 0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 585px;
  width: 100%;
  height: 38px;
}

#filters button {
  border: #1d6154 solid 1px;
  border-radius: 60px;
  padding: 8px 16px;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: #1d6154;
  background-color: inherit;
}

#filters button:hover {
  color: #b1663c;
}

#filters button.selected {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

strong {
  font-weight: bold;
}

.login-background {
  background-color: #fffef8;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-header {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

#login,
#login-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 30px;
}

.form-label {
  max-width: 379px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.form-input {
  width: 100%;
  max-width: 379px;
  height: 51px;
  padding: 8px;
  background-color: white;
  border: none;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
}

.form-submit {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  height: 36px;
  text-align: center;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.pwd-forgotten {
  text-decoration: underline;
}

.login-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 60px;
  background-color: white;
}

.mentions {
  margin-right: 100px;
}

/* Edition */
.edition-header:not([hidden]) {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  width: 100vw;
  overflow: visible;
  margin: 0;
  padding: 18px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edition-header h2 {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  color: inherit;
}

.portfolio-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 150px auto 80px auto;
}

.portfolio-title-container h2 {
  margin: 0 !important;
}

.edit-btn-container:not([hidden]) {
  display: flex;
  cursor: pointer;
}

#edit-btn {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  border: none;
  background-color: inherit;
  padding: 8px;
  cursor: inherit;
}

#modal:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: relative;
  margin: auto;
  margin-top: clamp(0vh, 2vw, 15vh);
  background: #fff;
  width: 100%;
  height: fit-content;
  max-width: 630px;
  max-height: 688px;
  border-radius: 10px;
  overflow-y: auto;
  z-index: 1;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modal-view:not([hidden]) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio .modal-view h2 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 26px;
  color: black;
  margin-bottom: 0;
  margin-top: 50px;
}

.back-btn {
  position: absolute;
  top: 16px;
  left: 16px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.primary-btn {
  margin: 40px auto;
  padding: 10px 20px;
  border-radius: 60px;
  border: none;
  background: #1d6154;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  max-width: 237px;
  width: 100%;
  height: 36px;
}

.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 25px;
  column-gap: 4px;
  margin: 0 100px;
  padding: 50px 0;
  border-bottom: #b3b3b3 solid 1px;
}

.modal-work {
  position: relative;
  max-width: 77px;
  max-height: 103px;
}

.modal-work img {
  width: 100%;
  height: auto;
  display: block;
}

.delete-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  margin: 0;
  padding: 0;
  background-color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#add-work-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
  width: 100%;
  max-width: 420px;
  height: 100%;
  max-height: inherit;
}

.upload-box {
  width: 100%;
  max-width: 420px;
  height: 100%;
  max-height: 169px;
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e8f1f6;
  cursor: pointer;
}

.upload-label:not([hidden]) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.upload-icon {
  max-width: 76px;
}

.upload-text {
  display: flex;
  justify-content: center;
  max-width: 173px;
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  background-color: #cbd6dc;
  font-size: 14px;
  font-weight: 500;
  color: #306685;
}

.upload-hint {
  font-size: 10px;
  color: #444444;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.form-group label {
  max-width: 420px;
  width: 100%;
  margin: auto;
}

.form-group input,
.form-group select {
  width: 100%;
  max-width: 420px;
  height: 51px;
  padding: 8px;
  background-position: right 15px center;
  box-sizing: border-box;
  background-color: white;
  border: none;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
}

.form-group select {
  cursor: pointer;
  padding-right: 16px;
  appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%233D3D3D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 30px center;
  background-size: 12px;
}

.spacer {
  width: 100%;
  height: 0px;
  border-top: #b3b3b3 solid 1px;
  margin-top: 40px;
}

.disabled {
  background-color: #a7a7a7;
  color: white;
  cursor: default;
}

.image-preview {
  position: relative;
  margin-top: -20px;
}

.image-preview img {
  width: 100%;
  max-height: 170px;
  object-fit: contain;
}
